In [2]:
import pandas as pd
import numpy as np

In [5]:
location = '../Data/Real_State_Properati.csv'
data_raw = pd.read_csv(location, sep='\t')
data_raw.head(10)

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0
5,apartment,Palermo,Argentina,Capital Federal,-34.580504,-58.405874,350000.0,USD,104.0
6,apartment,Palermo,Argentina,Capital Federal,-34.590926,-58.411665,270500.0,USD,118.0
7,apartment,Flores,Argentina,Capital Federal,-34.635118,-58.473964,75000.0,USD,43.0
8,apartment,Boedo,Argentina,Capital Federal,-34.621769,-58.422108,145000.0,USD,80.0
9,apartment,Las Cañitas,Argentina,Capital Federal,-34.571150,-58.423297,480000.0,USD,220.0

In [6]:
data_raw.describe()

                lat           lon         price  surface_total_in_m2
count  17223.000000  17223.000000  1.722300e+04         17223.000000
mean     -34.600541    -58.434354  3.567353e+05           117.989665
std        0.039048      0.055797  1.183132e+06          1534.549462
min      -38.416097    -63.616672  5.500000e+03             0.000000
25%      -34.620026    -58.463026  1.080000e+05            44.000000
50%      -34.600937    -58.434584  1.634760e+05            66.000000
75%      -34.581559    -58.402708  3.000000e+05           116.000000
max      -34.535096    -58.354956  5.000000e+07        200000.000000

In [7]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17223 entries, 0 to 17222
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   property_type        17223 non-null  object
 1   place_name           17223 non-null  object
 2   country_name         17223 non-null  object
 3   state_name           17223 non-null  object
 4   lat                  17223 non-null  float64
 5   lon                  17223 non-null  float64
 6   price                17223 non-null  float64
 7   currency             17223 non-null  object
 8   surface_total_in_m2  17223 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.2+ MB

In [8]:
quantidade_nulos_por_coluna = data_raw.apply(lambda x: x.isnull().sum(), axis = 0)
print(quantidade_nulos_por_coluna)

property_type          0
place_name             0
country_name           0
state_name             0
lat                    0
lon                    0
price                  0
currency               0
surface_total_in_m2    0
dtype: int64

In [9]:
data_raw.shape[0]

17223

In [10]:
data_raw_place_std  = data_raw.groupby('place_name')['price'].std()
data_raw_place_mean = data_raw.groupby('place_name')['price'].mean()

In [11]:
data_raw_place_std.head(5)

place_name
Abasto       164108.955788
Agronomía     86091.259967
Almagro      366337.245892
Balvanera    221374.478652
Barracas     175175.968073
Name: price, dtype: float64

In [12]:
data_raw_place_mean.head(5)

place_name
Abasto       179215.661017
Agronomía    159795.200000
Almagro      238371.887417
Balvanera    166790.845070
Barracas     192428.220065
Name: price, dtype: float64

In [19]:
'''criando coluna para unificação de preços uma vez que temos preços em Pesos e Dólares. Cotação do Dólar em 117.08 11/05/2022'''
data_raw['price_usd']=data_raw.apply(lambda x : 1)
data_raw.head(10)

data_raw['price_usd']=data_raw['price_usd'].apply(lambda x : x['price']/1 if x['currency']=='USD' else x['price']/117.08)
data_raw.head(10)
#sugestão a avaliar nas outras colunas
#data_ = data_key_not_null_grouped_pais_bairro["pernoctaciones"].transform(lambda grp: grp.fillna(grp.mean()))

TypeError: 'float' object is not subscriptable