In [2]:
import pandas as pd
import numpy as np

In [5]:
location = '../Data/Real_State_Properati.csv'
data_raw = pd.read_csv(location, sep='\t')
data_raw.head(10)

,property_type,place_name,country_name,state_name,lat,lon,price,currency,surface_total_in_m2
0,PH,Mataderos,Argentina,Capital Federal,-34.661824,-58.508839,62000.0,USD,55.0
1,apartment,Mataderos,Argentina,Capital Federal,-34.652262,-58.522982,72000.0,USD,55.0
2,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,138000.0,USD,45.0
3,apartment,Belgrano,Argentina,Capital Federal,-34.559873,-58.443362,195000.0,USD,65.0
4,PH,Mataderos,Argentina,Capital Federal,-34.652356,-58.501624,239000.0,USD,140.0
5,apartment,Palermo,Argentina,Capital Federal,-34.580504,-58.405874,350000.0,USD,104.0
6,apartment,Palermo,Argentina,Capital Federal,-34.590926,-58.411665,270500.0,USD,118.0
7,apartment,Flores,Argentina,Capital Federal,-34.635118,-58.473964,75000.0,USD,43.0
8,apartment,Boedo,Argentina,Capital Federal,-34.621769,-58.422108,145000.0,USD,80.0
9,apartment,Las Cañitas,Argentina,Capital Federal,-34.571150,-58.423297,480000.0,USD,220.0